<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


  <h2>Créer un nouveau besoin matériel</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {{ field.help_text }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Soumettre</button>
  </form>


</body>
</html>