{% extends 'website_part/base.html' %}
{% load static %}

{% block titre %}
    Envoyer un besoin | MainDansLaMain
{% endblock titre %}


{% block main %}
    <!-- main -->
        <main>
            <!-- titre de la page -->
            <section class="page-section-title section-title">
                <div class="container text-center">
                    <div class="row">
                        <h2 class="display-3 fw-bold text-uppercase">Envoyer un besoin</h2>
                    </div>
                </div>
            </section>
            <!-- Form -->
            <section class="form py-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-9">
                            <p class="mb-5">
                                Veuillez remplir le formulaire ci-dessous pour nous aider à mieux comprendre votre
                                situation et à vous fournir une assistance appropriée.
                            </p>
                            <h2 class="mb-4 display-5 fw-bold">Détails du besoin</h2>
                            <!-- trait -->
                            <hr class="mb-5">
                        </div>
                    </div>
                </div>
                
                {% if messages %}
                <div class="messages col-md-4">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-11 col-md-9">
                            <form method="post"
                            class="needs-validation bg-white shadow-lg gy-4 gy-xl-5 p-4 p-xl-5 rounded rounded-4 justify-content-center"
                            novalidate>
                            {% csrf_token %}

                            <!-- coordonnées personnelles -->
                            <div class="row">
                                <h2 class="fw-medium mb-3 mb-md-5">Page d'envoi des besoins materiels</h2>
                                 <!-- necessiteux  -->
                                 <div class="col-md-12 mb-3 mb-md-4">
                                    <div class="form-group">
                                        {{ form.necessiteux.label_tag }}
                                        {{ form.necessiteux }}
                                        <div class="invalid-feedback">
                                            Ce champ est obligatoire!
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Titre -->
                                <div class="col-md-12 mb-3 mb-md-4">
                                    <div class="form-group">
                                        {{ form.titre.label_tag }}
                                         {{ form.titre }}

                                        <div class="invalid-feedback">
                                            Ce champ est obligatoire!
                                        </div>
                                    </div>
                                </div>
                                <!-- Description  -->
                                <div class="col-md-12 mb-3 mb-md-4">
                                    <div class="form-group">
                                        {{ form.description.label_tag }}
                                        {{ form.description }}

                                        <div class="invalid-feedback">
                                            Ce champ est obligatoire!
                                        </div>
                                    </div>
                                </div>
                                <!-- degre  -->
                                <div class="col-md-6 mb-3 mb-md-4">
                                    <div class="form-group">
                                        {{ form.degre_urgence.label_tag }}
                                        {{ form.degre_urgence }}
                                        <div class="invalid-feedback">
                                            Ce champ est obligatoire!
                                        </div>
                                    </div>
                                </div>

                                <!-- categorie  -->
                                <div class="col-md-6 mb-3 mb-md-4">
                                    <div class="form-group">
                                        {{ form.montant_souhaite.label_tag }}
                                        {{ form.montant_souhaite }}
                                        <div class="invalid-feedback">
                                            Ce champ est obligatoire!
                                        </div>
                                    </div>
                                </div>
                                
                               
                            <!-- détails besoins -->
                            <div class="row">
                                
                            <!-- ajouter des fichiers -->
                            <div class="row">
                                <h2 class="fw-medium mb-3 mb-md-5 mt-4 mt-md-4">Ajouter des documents</h2>
                                <!-- Ajout de champs pour les images -->
                                <div class="form-group mb-3 mb-md-4">
                                    {{ form.image.label_tag }}
                                    {{ form.image }}
                                </div>

                                <!-- Ajout de champs pour les vidéos -->
                                <div class="form-group mb-3 mb-md-4">
                                    {{ form.video.label_tag }}
                                     {{ form.video }}
                                </div>

                                <!-- Ajout de champs pour les documents -->
                                <div class="form-group mb-3 mb-md-4">
                                    {{ form.document.label_tag }}
                                    {{ form.document }}
                                </div>

                                <!-- Utiliser les coordonnées  -->
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="use_informations">
                                        <label class="form-check-label" for="use_informations">
                                            Utiliser vos coordonnées lors du partage.
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="d-grid col-6 mx-auto mt-5">
                                <button class="btn btn-primary btn-lg fw-bold" type="submit">Envoyer</button>
                            </div>
                        </form>

                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock main %}