{% extends 'website_part/base.html' %}
{% load static %}

{% block titre %}
Nos actions | MainDansLaMain
{% endblock titre %}


{% block js %}
<script src="{% static 'website_part/js/nos_actions.js' %}" defer></script>
{% endblock js %}

{% block main %}
<!-- main -->
<main>
    <!-- titre de la page -->
    <section class="page-section-title section-title">
        <div class="container text-center">
            <div class="row">
                <h2 class="display-3 fw-bold text-uppercase">nos actions</h2>
            </div>
        </div>
    </section>

    <!-- description -->
    <section class="description">
        <div class="container">
            <div class="row px-4 py-5 my-5 justify-content-center">
                <div class="col-md-10 rounded ">
                    <h2 class="display-5 fw-bold pt-3 mb-5">
                        &ldquo;<span class="text-danger">Main</span><span class="text-warning">DansLa</span><span
                            class="text-success">Main</span>&rdquo;
                        <span class="text-muted fw-medium">pour quelle raison ?</span>
                    </h2>
                    <p class="justify">
                        Dans un monde où les besoins les plus essentiels peuvent être difficiles
                        à satisfaire pour de nombreuses personnes, notre organisation s'efforce de
                        faire une différence significative. Nous comprenons les défis auxquels sont
                        confrontés ceux qui luttent pour subvenir à leurs besoins fondamentaux,
                        que ce soit pour se nourrir, s'habiller, se loger ou accéder aux soins de santé.
                        Nous voulons également apporter notre soutien à toute personne se trouvant dans
                        une situation délicate.
                        Notre engagement est de fournir un soutien solide et un espoir renouvelé
                        à ceux qui en ont le plus besoin. Avec votre aide et notre dévouement,
                        nous pouvons construire un avenir où chaque individu vit dans la dignité et le
                        bien-être.
                    </p>
                    <figure>
                        <blockquote class="blockquote">
                            <p class="fw-medium fst-italic">
                                &lsquo;Le véritable progrès social ne consiste pas à augmenter ses revenus,
                                mais à diminuer l'écart entre les hommes.&rsquo;
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            <cite title="John Fitzgerald Kennedy">J.F. Kennedy</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <!-- nos actions -->
    <section class="actions" id="actions">
        <div class="container py-5">
            <div class="row px-4 pt-md-2 p-0">
                <div class="fw-bold display-4 primary">
                    Actions en cours
                </div>
            </div>
            <div class="carousel">
                <!-- action 1 -->
                <div class="slide active">
                    <div class="row px-4 my-5 bg-gradient rounded rounded-3 shadow">
                        <div
                            class="col-md-7 offset-md-1 p-3 order-md-2 d-flex flex-column justify-content-center mb-sm-3">
                            <h2 class="display-5 fw-bold mb-md-3">1. Collecte de fonds</h2>
                            <p class="justify">
                                Nous avons lancé une campagne de collecte de fonds en ligne
                                et hors ligne pour mobiliser des ressources financières qui seront
                                utilisées pour aider les nécessiteux dans divers domaines
                                tels que l'alimentation, l'éducation et les soins de santé.
                            </p>
                            <p class="justify">
                                Les fonds récoltés nous permettrons d'intervenir dans divers contexts.
                                <span class="text-muted lead">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quam, incidunt quis iure quidem a velit necessitatibus,
                                    itaque distinctio consequuntur cupiditate quaerat quibusdam
                                    placeat natus praesentium, aliquid soluta tempore rem! Pariatur.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-4 order-md-1">
                            <div class="img mt-3 p-3">
                                <img src="{% static 'website_part/img/freepik-hand_in_hand_logo.jpg' %}" alt=""
                                    class="rounded rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- action 2 -->
                <div class="slide">
                    <div class="row px-4 my-5 bg-gradient rounded rounded-3 shadow">
                        <div class="col-md-7 p-3 order-md-2 d-flex flex-column justify-content-center mb-sm-3">
                            <h2 class="display-5 fw-bold mb-md-3">2. Distribution de fournitures de première
                                nécessité</h2>
                            <p class="justify">
                                Nous organisons des collectes de vêtements, de denrées alimentaires et
                                d'articles
                                d'hygiène, puis distribuez-les aux personnes dans le besoin dans les communautés
                                locales.
                            </p>
                            <p class="justify">
                                Les fonds récoltés nous permettrons d'intervenir dans divers contexts.
                                <span class="text-muted lead">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quam, incidunt quis iure quidem a velit necessitatibus,
                                    itaque distinctio consequuntur cupiditate quaerat quibusdam
                                    placeat natus praesentium, aliquid soluta tempore rem! Pariatur.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-4 offset-md-1 order-md-2">
                            <div class="img mt-3 p-3 align-self-center">
                                <img src="{% static 'website_part/img/freepik-hand_in_hand_logo.jpg' %}" alt=""
                                    class="rounded rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- action 3 -->
                <div class="slide">
                    <div class="row px-4 my-5 bg-gradient rounded rounded-3 shadow">
                        <div
                            class="col-md-7 offset-md-1 p-3 order-md-2 d-flex flex-column justify-content-center mb-sm-3">
                            <h2 class="display-5 fw-bold mb-md-3">3. Campagne de sensibilisation</h2>
                            <p class="justify">
                                Nous avons initié des séances d'information et des campagnes
                                sur les réseaux sociaux pour sensibiliser les gens sur l'importance que nous
                                tous
                                pouvons avoir dans la vie des plus démunis ou toute autre personne dans
                                le besoin en Guinée.
                            </p>
                            <p class="justify">
                                Les fonds récoltés nous permettrons d'intervenir dans divers contexts.
                                <span class="text-muted lead">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quam, incidunt quis iure quidem a velit necessitatibus,
                                    itaque distinctio consequuntur cupiditate quaerat quibusdam
                                    placeat natus praesentium, aliquid soluta tempore rem! Pariatur.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-4 order-md-1">
                            <div class="img mt-3 p-3">
                                <img src="{% static 'website_part/img/freepik-hand_in_hand_logo.jpg' %}" alt=""
                                    class="rounded rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- action 4 -->
                <div class="slide">
                    <div class="row px-4 my-5 bg-gradient rounded rounded-3 shadow">
                        <div class="col-md-7 p-3 order-md-2 d-flex flex-column justify-content-center mb-sm-3">
                            <h2 class="display-5 fw-bold mb-md-3">4. Distribution de fournitures de première
                                nécessité</h2>
                            <p class="justify">
                                Nous organisons des collectes de vêtements, de denrées alimentaires et
                                d'articles
                                d'hygiène, puis distribuez-les aux personnes dans le besoin dans les communautés
                                locales.
                            </p>
                            <p class="justify">
                                Les fonds récoltés nous permettrons d'intervenir dans divers contexts.
                                <span class="text-muted lead">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quam, incidunt quis iure quidem a velit necessitatibus,
                                    itaque distinctio consequuntur cupiditate quaerat quibusdam
                                    placeat natus praesentium, aliquid soluta tempore rem! Pariatur.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-4 offset-md-1 order-md-2">
                            <div class="img mt-3 p-3 align-self-center">
                                <img src="{% static 'website_part/img/freepik-hand_in_hand_logo.jpg' %}" alt=""
                                    class="rounded rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- action 5 -->
                <div class="slide">
                    <div class="row px-4 my-5 bg-gradient rounded rounded-3 shadow">
                        <div
                            class="col-md-7 offset-md-1 p-3 order-md-2 d-flex flex-column justify-content-center mb-sm-3">
                            <h2 class="display-5 fw-bold mb-md-3">5. Campagne de sensibilisation</h2>
                            <p class="justify">
                                Nous avons initié des séances d'information et des campagnes
                                sur les réseaux sociaux pour sensibiliser les gens sur l'importance que nous
                                tous
                                pouvons avoir dans la vie des plus démunis ou toute autre personne dans
                                le besoin en Guinée.
                            </p>
                            <p class="justify">
                                Les fonds récoltés nous permettrons d'intervenir dans divers contexts.
                                <span class="text-muted lead">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quam, incidunt quis iure quidem a velit necessitatibus,
                                    itaque distinctio consequuntur cupiditate quaerat quibusdam
                                    placeat natus praesentium, aliquid soluta tempore rem! Pariatur.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-4 order-md-1">
                            <div class="img mt-3 p-3">
                                <img src="{% static 'website_part/img/freepik-hand_in_hand_logo.jpg' %}" alt=""
                                    class="rounded rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button id="prevBtn" class="btn btn-lg btn-primary rounded-circle me-2">
                    <i class="bi-caret-left-fill"></i>
                </button>
                <button id="nextBtn" class="btn btn-lg btn-primary rounded-circle ms-2"><i
                        class="bi-caret-right-fill"></i></button>
            </div>
        </div>
    </section>
</main>
{% endblock main %}