{% load static %}
<form method="post" action="{% url 'donations:donateurEntreprise_compte' %}" enctype="multipart/form-data">
    {% csrf_token %}
   
    <div class="row">
        <div class=" col-md-6">
            {{ form.nom.label_tag }} <br>
            {{ form.nom }}<br>
            {{ form.email.label_tag }}<br>
            {{ form.email }}<br>
            {{ form.pays.label_tag }}<br>
            {{ form.pays }}<br>
            {{ form.statut_juridique.label_tag }}<br>
            {{ form.statut_juridique }}<br>
            {{ form.type_donateur.label_tag }}<br>
            {{ form.type_donateur }}
        </div>
        <div class="col-md-6">
            {{ form.numero_fiscal.label_tag }}<br>
            {{ form.numero_fiscal }}<br>
            {{ form.password.label_tag }}<br>
            {{ form.password }}<br>
            {{ form.ville.label_tag }}<br>
            {{ form.ville }}<br>
            {{ form.date_creation.label_tag }}<br>
            {{ form.date_creation }}<br>
            {{ form.telephone.label_tag }}<br>
            {{ form.telephone }}<br>
            {{ form.photo.label_tag }}
            {{ form.photo }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>