{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de gestion de DonateurPersonne</title>
    <link rel="stylesheet" href="{% static 'Necessiteux/css/style.css' %}">
</head>
<body>

<h3>BIENVENUE DANS LA PAGE DE GESTION DES DONATEURS PERSONNE</h3>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
       <div class="form-group col-md-6">
            {{ form.nom.label_tag }}
            {{ form.nom }}
            {{ form.prenom.label_tag }}
            {{ form.prenom }}
       </div>
        <div class="form-group col-md-6">
            <!-- Ajoutez les autres champs de la même manière -->
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.password.label_tag }}
            {{ form.password }}

           
        </div>
        <div class="form-group col-md-6"></div>
            {{ form.pays.label_tag }}
            {{ form.pays }}
            {{ form.ville.label_tag }}
            {{ form.ville }}
        </div>
        <div class="form-group col-md-6">
            {{ form.genre.label_tag }}
            {{ form.genre }}
            {{ form.date_naissance.label_tag }}
            {{ form.date_naissance }}
        </div>
        <div class="form-group col-md-6">
            <!-- Ajoutez les autres champs de la même manière -->
            {{ form.type_donateur.label_tag }}
            {{ form.type_donateur }}
            {{ form.telephone.label_tag }}
            {{ form.telephone }}
            
        </div>
    </div>
    <!-- Ajoutez les autres rangées de formulaire de la même manière -->
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>

</body>
</html>
