{% extends 'website_part/base.html' %}
{% load static %}

{% block titre %}
Création de compte | MainDansLaMain
{% endblock titre %}


{% block main %}
<main>
    <!-- titre de la page -->
    <section class="page-section-title section-title">
        <div class="container text-center">
            <div class="row">
                <h2 class="display-3 fw-bold text-uppercase">création de compte</h2>
            </div>
        </div>
    </section>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-11 col-md-9">
                
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}"> {{ message }}</div>
                    {% endfor %}
                {% endif %}
                    
                <form method="post" action="{% url 'donations:donateurPersonne_compte' %}" enctype="multipart/form-data"
                    class="needs-validation bg-white shadow-lg gy-4 gy-xl-5 p-4 p-xl-5 rounded rounded-4 justify-content-center"
                    novalidate>
                    {% csrf_token %}

                    <!-- coordonnées personnelles -->
                    <div class="row">
                        <h2 class="fw-medium mb-3 mb-md-5">Vos coordonnées</h2>
                        <!-- Prénom(s) -->
                        <div class="col-md-6 mb-3 mb-md-4">
                            <div class="form-group">
                                {{ form.prenom.label_tag }}
                                {{ form.prenom }}
                                <div class="invalid-feedback">
                                    Ce champ est obligatoire!
                                </div>
                            </div>
                        </div>
                        <!-- Nom(s) -->
                        <div class="col-md-6 mb-3 mb-md-4">
                            <div class="form-group">
                                {{ form.nom.label_tag }}
                                {{ form.nom }}
                                <div class="invalid-feedback">
                                    Ce champ est obligatoire!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-4">
                            <div class="form-group">
                                {{ form.date_naissance.label_tag }}
                                {{ form.date_naissance }}
                                <div class="invalid-feedback">
                                    Ce champ est obligatoire!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-4">
                            <div class="form-group">
                                {{ form.genre.label_tag }}
                                {{ form.genre }}
                                <div class="invalid-feedback">
                                    Ce champ est obligatoire!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-4">
                            <div class="form-group">
                                {{ form.photo.label_tag }}
                                {{ form.photo }}
                                <div class="invalid-feedback">
                                    Ce champ est obligatoire!
                                </div>
                            </div>
                        </div>
                        <!-- E-mail -->
                        <div class="col-md-6 mb-3 mb-md-4">
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                <div class="invalid-feedback">
                                    Ce champ est obligatoire!
                                </div>
                            </div>
                            {% if form.email.errors %}
                            <span class="text-muted text-danger">{{ form.email.errors }}</span>
                            {% endif %}
                        </div>
                        <!-- Téléphone -->
                        <div class="col-md-6 mb-3 mb-md-4">
                            <div class="form-group">
                                {{ form.telephone.label_tag }}
                                {{ form.telephone }}
                                <div class="invalid-feedback">
                                    Ce champ est obligatoire!
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pays -->
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="form-group">
                            {% comment %} <label for="city_validation" class="form-label">Ville</label> {% endcomment %}
                            {{ form.pays.label_tag }}
                            {{ form.pays }}
                            <div class="invalid-feedback">
                                Ce champ est obligatoire!
                            </div>
                        </div>
                    </div>
                    <!-- Ville -->
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="form-group">
                            {{ form.ville.label_tag }}
                            {{ form.ville }}
                            <div class="invalid-feedback">
                                Ce champ est obligatoire!
                            </div>
                        </div>
                    </div>
                    <!-- Mot de passe -->
                    <div class="col-md-12 mb-3 mb-md-4">
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            <div class="invalid-feedback">
                                Ce champ est obligatoire!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3 mb-md-4">
                        <div class="form-group">
                            {{ form.password_confirmation.label_tag }}
                            {{ form.password_confirmation }}
                            <div class="invalid-feedback">
                                Ce champ est obligatoire!
                            </div>
                        </div>
                        {% if form.password.errors %}
                        <span class="text-muted text-danger">{{ form.password.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="d-grid col-6 mx-auto mt-5">
                        <button class="btn btn-primary btn-lg fw-bold" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock main %}

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.nom.label_tag }}
            {{ form.nom }}
            {{ form.prenom.label_tag }}
            {{ form.prenom }}
        </div>
        <div class="form-group col-md-6">
            <!-- Ajoutez les autres champs de la même manière -->
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.password.label_tag }}
            {{ form.password }}


        </div>
        <div class="form-group col-md-6"></div>
        {{ form.pays.label_tag }}
        {{ form.pays }}
        {{ form.ville.label_tag }}
        {{ form.ville }}
    </div>
    <div class="form-group col-md-6">
        {{ form.genre.label_tag }}
        {{ form.genre }}
        {{ form.date_naissance.label_tag }}
        {{ form.date_naissance }}
    </div>
    <div class="form-group col-md-6">
        <!-- Ajoutez les autres champs de la même manière -->
        {{ form.type_donateur.label_tag }}
        {{ form.type_donateur }}
        {{ form.telephone.label_tag }}
        {{ form.telephone }}

    </div>
    </div>
    <!-- Ajoutez les autres rangées de formulaire de la même manière -->
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>