{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de gestion de DonateurOrganisation</title>
    <link rel="stylesheet" href="{% static 'Necessiteux/css/style.css' %}">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
</head>
<body>

<h3>BIENVENUE DANS LA PAGE DE GESTION DES DONATEURS ORGANISATION</h3>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class=" col-md-6">
            {{ form.nom.label_tag }} <br>
            {{ form.nom }}<br>
            {{ form.email.label_tag }}<br>
            {{ form.email }}<br>
            {{ form.pays.label_tag }}<br>
            {{ form.pays }}<br>
            {{ form.statut_juridique.label_tag }}<br>
            {{ form.statut_juridique }}<br>
            {{ form.type_donateur.label_tag }}<br>
            {{ form.type_donateur }}
        </div>
        <div class="col-md-6">
            {{ form.numero_fiscal.label_tag }}<br>
            {{ form.numero_fiscal }}<br>
            {{ form.password.label_tag }}<br>
            {{ form.password }}<br>
            {{ form.ville.label_tag }}<br>
            {{ form.ville }}<br>
            {{ form.date_creation.label_tag }}<br>
            {{ form.date_creation }}<br>
            {{ form.telephone.label_tag }}<br>
            {{ form.telephone }}<br>
            {{ form.photo.label_tag }}<br>
           {{ form.photo }}
           
           <!-- Champ de fichier Filepond pour la photo -->
           <input type="file" class="filepond" name="photo">
        </div>
       
    </div>
    <!-- Ajoutez les autres rangées de formulaire de la même manière -->
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
<!-- Initialiser Filepond -->
<script>
    const inputElement = document.querySelector('input[type="file"]');
    FilePond.create(inputElement);
</script>


</body>
</html>
