{% extends 'communs\app_base.html' %}
{% load static %}


{% block titre %}
Dashboard | MainDansLaMain
{% endblock titre %}

{% block css %}
{% endblock %}

{% comment %} menu du sidebar {% endcomment %}
{% block sidebar_items %}
<!-- tableau de bord -->
<li class="sidebar-item">
    <!-- sidebar-link -->
    <a href="#" class="sidebar-link selected">
        <i class="bi bi-columns"></i>
        <span>Tableau de bord</span>
    </a>
</li>
<!-- donations -->
<li class="sidebar-item">
    <!-- sidebar-link -->
    <a href="#" class="sidebar-link">
        <i class="bi bi-cash-coin"></i>
        <span>Donations</span>
    </a>
</li>
<!-- contributions -->
<li class="sidebar-item">
    <!-- sidebar-link -->
    <a href="#" class="sidebar-link">
        <i class="bi bi-send-check"></i>
        <span>Contributions</span>
    </a>
</li>
<!-- besoins -->
<li class="sidebar-item">
    <!-- sidebar-link -->
    <a href="#" class="sidebar-link">
        <i class="bi bi-person-wheelchair"></i>
        <span>Besoins</span>
    </a>
</li>
{% endblock sidebar_items %}

{% comment %} chemin de la photo de profil {% endcomment %}
{% block profil %}/media/{{ utilisateur.photo }}{% endblock profil %}

{% comment %} nom de l'utilisateur {% endcomment %}
{% block nom_utilisateur %}{{ utilisateur.prenom|upper }}{{ utilisateur.nom|upper }}{% endblock nom_utilisateur %}

{% comment %} role de l'utilisateur {% endcomment %}
{% block role_utilisateur %}{{ utilisateur.role|upper }}{% endblock role_utilisateur %}

{% block content %}
<!-- dernieres contributions  -->
<div class="row">
    <h3 class="fw-bold fs-4 mb-3 sous-titre-page"><i class="bi bi-wallet2 me-2"></i> Mes dernières contributions</h3>
    <div class="col-12 col-md-4">
        <!-- card 1 -->
        <div class="card border-0 h-100">
            <div class="card-body py-4">
                <h5 class="mb-2 fw-bold">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, quo.
                </h5>
                <p class="mb-2 fw-bold">
                    800.000 GNF
                </p>
                <div class="mb-0">
                    <span class="badge text-badge me-2">
                        +9.0%
                    </span>
                    <span class="fw-bold">
                        Since Last Month
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <!-- card 2 -->
        <div class="card border-0 h-100">
            <div class="card-body py-4">
                <h5 class="mb-2 fw-bold">
                    Members Progress
                </h5>
                <p class="mb-2 fw-bold">
                    $72,540
                </p>
                <div class="mb-0">
                    <span class="badge text-badge me-2">
                        +9.0%
                    </span>
                    <span class="fw-bold">
                        Since Last Month
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <!-- card 3 -->
        <div class="card border-0 h-100">
            <div class="card-body py-4">
                <h5 class="mb-2 fw-bold">
                    Members Progress
                </h5>
                <p class="mb-2 fw-bold">
                    $72,540
                </p>
                <div class="mb-0">
                    <span class="badge text-badge me-2">
                        +9.0%
                    </span>
                    <span class="fw-bold">
                        Since Last Month
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- nouveaux besoins -->
<div class="row">
    <h3 class="fw-bold fs-4 mb-3 mt-5 sous-titre-page"><i class="bi bi-file-earmark-plus me-2"></i></i>Les nouveaux besoins</h3>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body d-flex flex-row">
                <img src="/media/{{ utilisateur.photo }}" class="rounded-circle me-3" height="50px" width="50px"
                    alt="profil nécéssiteux" />
                <div>
                    <h5 class="card-title font-weight-bold mb-2">{{ utilisateur.nom }}</h5>
                    <p class="card-text"><i class="bi bi-clock-history pe-2"></i>{{ utilisateur.date_creation_compte|date }}</p>
                </div>
            </div>
            <div class="bg-image hover-overlay rounded-0">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
                    alt="besoin image" />
            </div>
            <div class="card-body">
                <p class="card-text collapse" id="collapseContent">
                    Recently, we added several exotic new dishes to our restaurant menu. They come from
                    countries such as Mexico, Argentina, and Spain. Come to us, have some wine and enjoy
                    our juicy meals from around the world.
                </p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-link p-md-1 my-1" data-mdb-toggle="collapse" href="#collapseContent"
                        role="button" aria-expanded="false" aria-controls="collapseContent">Lire plus ...</a>
                    <div>
                        <i class="fas fa-share-alt text-muted p-md-1 my-1 me-2" data-mdb-toggle="tooltip"
                            data-mdb-placement="top" title="Share this post"></i>
                        <i class="fas fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip"
                            data-mdb-placement="top" title="I like it"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="fw-bold fs-4 my-3">Avg. Agent Earnings</h3>
<!-- second-row  -->
<div class="row">
    <div class="col-12">
        <!-- table -->
        <table class="table table-striped">
            <thead>
                <tr class="highlight">
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}